@model ITMO.ASP.NET_Final.Models.Discipline

@{
	ViewBag.Title = "AddDiscipline";
}

<h2>Добавление дисциплины</h2>

<form method="post" action="">
	<table class="table">
		<tr>
			<td>
				<p>Название дисциплины</p>
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" name="DisciplineName" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Отправить" />
				
			</td>
		</tr>
	</table>
</form>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

