@model ITMO.ASP.NET_Final.Models.Student

@{
	ViewBag.Title = "Добавить студента";
}

<h2>Добавить студента</h2>

<form method="post" action="">
	<table class="table">
		<tr>
			<td>
				<p>Введите ФИО</p>
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" name="StudentName" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Отправить" />
			</td>
		</tr>
	</table>
</form>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}


