<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Pages</title>
</head>
<body>
    <div>
        <h1>Система учета</h1>
    </div>
    <div>
        <ul>
            <li><a asp-page="/Index">Главная страница</a></li>
            <li><a asp-page="/Product">Продукты</a></li>
        </ul>
    </div>
    @RenderBody()
    <div>© 2022 - Тетерук Д.В.</div>
</body>
</html>
